@import 'bootstrap/dist/css/bootstrap';


.navbar-brand {
    font-size: 3rem;
}

.search-area {
    padding-top: 100px;
    padding-left: 80px;
}

.small-right-padding {
    padding-right: 4px !important; 
}

.small-left-padding {
    padding-left: 4px !important;
}